@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Autó tulajdonosok</h1>
    <p class="lead">Autók illetve tulajdonosok felvétele, törlése, módosítása. 
    Tulajdonosok oldalon Felugró ablakban személyes adatok és az adott tulajdonos autói találhatók.</p>
    <div>Kérem az sql query-t használat előtt futtassa. Ez az "SQL_Query_(Runn_first)" mappában található.</div>
</div>
